body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-width: 520px;
  width: 900px;
  margin: 0 auto;
}

a {
  color: #00B7FF;
}

.column {
    width: 300px;
    float: left;
    padding-bottom: 100px;
}
.column-header {
    width: 220px;
    float: left;
    padding-left: 10px;
    padding-right: 70px;
    font-weight: bold;
}
.portlet {
    margin: 0 1em 1em 0;
    padding: 0.3em;
}
.portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
}
.portlet-delete {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
}
.portlet-content {
    padding: 0.4em;
    white-space: pre-line;
}
.portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
}
textarea{
    resize: none;
}